<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header') %>
  <div id = "gotop" onclick = "hello()"> ^ </div>
  <section id="main">
  <%- body %>
  </section>
  <%- partial('_partial/footer') %>
</body>
</html>